body.skin-dark { background: #b8b8b8; }

/*
body.skin-dark #GlobalFooter { color: white; }
body.skin-dark #GlobalFooter a { color: white; text-decoration: none; }
body.skin-dark #GlobalFooter a:hover { color: #ee8030; }

body.skin-dark #FooterSubNavigation ul li.copyright {
    color: #777a7f;
}
*/
