#css-ready { color: #797979; }

/** CSS reset rules, to avoid contamination from wrapping page styles **/
.infomous-cloud {
    line-height: 1;
}
.infomous-cloud div, 
.infomous-cloud span, 
.infomous-cloud object,
.infomous-cloud a, 
.infomous-cloud em, 
.infomous-cloud embed, 
.infomous-cloud img,
.infomous-cloud strong, 
.infomous-cloud ol, 
.infomous-cloud ul, 
.infomous-cloud li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
.infomous-cloud ol, 
.infomous-cloud ul {
    list-style: none;
}
/** end reset **/

.infomous .infomous-cloud {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.infomous-cloud .body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    color: #1E450C;
    border: none;
    cursor: pointer;
    cursor: hand;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
}

.infomous-cloud .body:hover {
    color: #103800;
    background-color: #EEE;
    border: 1px solid #999;
    /*z-index: 500 !important;*/
}

.infomous-cloud .cloud-feedback {
    /*width: 200px;*/
    /*height: 30px;*/
    font-size: 11px;
    border: 1px solid #C8C8C8;
    background-color: rgb(255,255,255);
    text-align: center;
}

.infomous-cloud .focused {
    background-color: #EEE;
    border: 1px solid #C00;
    /*z-index: 499 !important;*/
}

.infomous-cloud .hide {
    width: 12px;
    height: 12px;
    background-image: url(img/removeMidUp.png);
    background-repeat: no-repeat;
    float:right;
}

.infomous-cloud .hide:hover {
    background-image: url(img/removeMidOver.png);
}

.infomous-cloud .sources {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    z-index: 999;
    background: #EEE;
    border: 1px solid #999;
    margin: 0;
    /*padding-top: 7px;*/
    /*padding-bottom: 3px;*/
    list-style: none;
    font-size: 11px;
    /*max-height: 300px;*/
    /*min-width: 180px;*/
    /*max-width: 240px;*/
    /*overflow: auto;*/
}

.infomous-cloud .sources .menu-elem {
    background: inherit;
    background-color: transparent;
}

.infomous-cloud .sources .menu-sources-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 7px; 
    margin-bottom: 5px; 
    margin-left: 5px;
    margin-right: 3px;
}

.infomous-cloud .sources .menu-sources-list .menu-source-item {
    margin-bottom: 10px;
}

.infomous-cloud .sources .menu-sources-list .menu-source-item .line1,
.infomous-cloud .sources .menu-sources-list .menu-source-item .line1 *,
.infomous-cloud .sources .menu-ad .menu-ad-txt .line1,
.infomous-cloud .sources .menu-ad .menu-ad-txt .line1 * {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
}

.infomous-cloud .sources .menu-sources-list .menu-source-item .line1:hover {
    color: #009;
}

.infomous-cloud .sources .menu-sources-list .menu-source-item .line2,
.infomous-cloud .sources .menu-sources-list .menu-source-item .line2 * {
    color: #666;
    padding-top: 0.5em;
    text-decoration: none;
}

.infomous-cloud .sources .menu-header {
    cursor: pointer;
    position: absolute;	
    color: #FFFFFF;
    font-size: 15px;
    height: 25px;
    top: -27px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px; 
    -webkit-border-radius: 10px 10px 0px 0px;
}

.infomous-cloud .sources .menu-header .m-header-arrow {
    margin: 6px 6px 6px 8px !important;
}

.infomous-cloud .sources .menu-header .m-header-txt {
    margin-left: 10px;
    margin-right: 25px;
    position: relative;
    top: -6px;	
}

.infomous-cloud .sources .menu-footer {
    position: absolute;	
    height: 18px;
    bottom: -21px;
    left: -1px;
    width: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px 0px 15px 15px; 
    -moz-border-radius: 0px 0px 15px 15px; 
    -webkit-border-radius: 0px 0px 15px 15px;    
}

.infomous-cloud .sources .menu-footer .rayita {
    border-style: none none none solid;
    border-width: 1px;
    height: 17px;
    width: 5px;
    position: relative;
}

.infomous-cloud .sources .menu-footer .m-footer-bt {
    position: absolute;
    top: 4px;	
    color: #FFFFFF;
    cursor: pointer;
}

.infomous-cloud .sources .menu-ad {
    background-color: #DDD;
    border: 1px solid #CCC;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;   
    margin-bottom: 3px;   
    margin-top: 3px;   
}

.infomous-cloud .sources .menu-ad .menu-ad-img {
    /*float: left;*/
    margin-right: 5px;
}

#infomous-logo {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    /*background-image: url(img/infomous_icon_24x24.png);*/
    background-repeat: no-repeat;
    z-index: 1002;
}

#infomous-switch {
    font-size: 11px;
    font-family: Arial,sans-serif;
}
